.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#homeNav.nav-link.active {
  background-color: white !important;
  color: rgba(0, 0, 0, 0.5);
}

.nav-item.nav-link {
  border-color: rgb(155, 155, 155) !important;
  border-width: 0.1px !important;
  border-left: none !important;
  color: #6c757d !important;
  font-weight: bolder;
}

.nav-link.active {
  background-color: rgb(155, 155, 155) !important;
  color: black !important;
}
